
<div class="container">
  <div class="table-wrapper">
      <% if (facturas.length > 0) {%>
        <h4 class="bg-grey">Facturas:</h4>
          <table class="table table-hovered">
              <thead class="thead-dark">
                  <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Emisor</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Importe</th>
                      <th scope="col">Concepto</th>
                      <th scope="col">
                        <a href="/facturas/0" class="btn btn-sm btn-primary">Añadir</a>
                      </th>
                  </tr>
              </thead>
              <tbody>
                  <% Array.prototype.forEach.call(facturas, factura => { %>
                      <tr>
                          <th scope="row"><%= factura.id_factura %></th>
                          <td><%= factura.emisor %></td>
                          <td><%= factura.fecha %></td>
                          <td><%= factura.importe %> €</td>
                          <td><%= factura.concepto %></td>
                          <td>
                              <a href="/facturas/<%= factura.id_factura %>" rel="noopener" class="btn btn-sm btn-success">Editar</a>
                              <a href="/facturas/delete/<%= factura.id_factura %>" data-method="delete" class="btn btn-sm btn-danger">Delete</a>
                          </td>
                      </tr>
                  <% }) %>
              </tbody>
          </table>
      <% } else { %>
          <p class="text-center">No facturas found. Go <a href="/facturas/0" >here</a> to add facturas.</p>
      <% } %>
  </div>
</div>
