
<div class="container">
  <div class="table-wrapper">
      <% if (cuotas.length > 0) {%>
        <h4 class="bg-grey">Cuotas:</h4>
          <table class="table table-hovered">
              <thead class="thead-dark">
                  <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Importe</th>
                      <!-- <th scope="col">Concepto</th> -->
                      <th scope="col">Pagado</th>
                      <th scope="col">
                        <a href="/cuotas/0" class="btn btn-sm btn-primary">Añadir</a>
                      </th>
                  </tr>
              </thead>
              <tbody>
                  <% Array.prototype.forEach.call(cuotas, cuota => { %>
                      <tr>
                          <th scope="row"><%= cuota.id_cuota %></th>
                          <td><%= cuota.fecha %></td>
                          <td><%= cuota.importe %> €</td>
                          <td>
                            <% if (cuota.pagado){ %>
                              <span class="glyphicon glyphicon-ok text-primary"></span>
                            <% } else { %>
                              <span class="glyphicon glyphicon-remove text-danger"></span>
                            <% } %>
                          </td>
                          <td>
                              <a href="/cuotas/<%= cuota.id_cuota %>" rel="noopener" class="btn btn-sm btn-success">Editar</a>
                              <a href="/cuotas/delete/<%= cuota.id_cuota %>" data-method="delete" class="btn btn-sm btn-danger">Delete</a>
                          </td>
                      </tr>
                  <% }) %>
              </tbody>
          </table>
      <% } else { %>
          <p class="text-center">No cuotas found. Go <a href="/add" >here</a> to add cuotas.</p>
      <% } %>
  </div>
</div>
