
<div class="container">
  <div class="table-wrapper">
        <h4 class="bg-grey">Incidencias:</h4>
          <table class="table table-hovered">
              <thead class="thead-dark">
                  <tr>
                      <th scope="col" class="hidden-print">ID</th>
                      <th scope="col">Emisor</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Informacion</th>
                      <th scope="col" class="hidden-print">
                        <a href="/comunidades/<%= comunidad.id_comunidad %>/incidencias/0" class="btn btn-sm btn-success">Añadir</a>
                      </th>
                  </tr>
              </thead>
              <% if (comunidad.incidencias.length > 0) {%>
              <tbody>
                  <% Array.prototype.forEach.call(comunidad.incidencias, incidencia => { %>
                      <tr>
                          <th scope="row" class="hidden-print"><%= incidencia.id_incidencia %></th>
                          <td><%= incidencia.emisor %></td>
                          <td><%= incidencia.fecha %></td>
                          <td><%= incidencia.info %></td>
                          <td class="hidden-print">
                              <a href="/comunidades/<%= incidencia.comunidad_fk %>/incidencias/<%= incidencia.id_incidencia %>" rel="noopener" class="btn btn-sm btn-info">Ver</a>
                          </td>
                      </tr>
                  <% }) %>
              </tbody>
              <% } else { %>
                <tr>
                  <td colspan="10">
                    <p class="text-center">No hay incidencias asignadas a esta comunidad.</p>
                  </td>
                </tr>
              <% } %>
              <tfoot></tfoot>
          </table>
  </div>
</div>
