
<div class="container">
  <div class="table-wrapper">
        <h4 class="bg-grey">Viviendas:</h4>
          <table class="table table-hovered">
              <thead class="thead-dark">
                  <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Número</th>
                      <th scope="col">Coeficiente</th>
                      <th scope="col">Id Comunidad</th>
                      <th scope="col">
                        <a href="/comunidades/<%= comunidad.id_comunidad %>/viviendas/0" class="btn btn-sm btn-success">Añadir</a>
                      </th>
                  </tr>
              </thead>
              <% if (viviendas.length > 0) {%>
              <tbody>
                  <% Array.prototype.forEach.call(viviendas, vivienda => { %>
                      <tr>
                          <th scope="row"><%= vivienda.id_vivienda %></th>
                          <td><%= vivienda.numero %></td>
                          <td><%= vivienda.coeficiente %> %</td>
                          <td><%= vivienda.comunidad_fk %></td>
                          <td>
                              <a href="/comunidades/<%= comunidad.id_comunidad %>/viviendas/<%= vivienda.id_vivienda %>" rel="noopener" class="btn btn-sm btn-info">Ver</a>
                          </td>
                      </tr>
                  <% }) %>
              </tbody>
              <% } else { %>
                <tr>
                  <td colspan="5">
                    <p class="text-center">No hay viviendas asignadas a esta comunidad.</p>
                  </td>
                </tr>
              <% } %>
          </table>
  </div>
</div>
