
<div class="container">
  <div class="table-wrapper">
        <h4 class="bg-grey">Propietarios:</h4>
          <table class="table table-hovered">
              <thead class="thead-dark">
                  <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Apellidos</th>
                      <th scope="col">NIF</th>
                      <th scope="col">Telefono</th>
                      <th scope="col">Email</th>
                      <th scope="col">Dirección</th>
                      <th scope="col">CP</th>
                      <th scope="col">
                        <a href="/propietarios/0" class="btn btn-sm btn-success hidden-print">Añadir</a>
                      </th>
                  </tr>
              </thead>
              <% if (propietarios.length > 0) {%>
              <tbody>
                  <% Array.prototype.forEach.call(propietarios, propietario => { %>
                      <tr>
                          <th scope="row"><%= propietario.id_propietario %></th>
                          <td><%= propietario.nombre %></td>
                          <td><%= propietario.apellidos %></td>
                          <td><%= propietario.nif %></td>
                          <td><%= propietario.telefono %></td>
                          <td><%= propietario.email %></td>
                          <td><%= propietario.direccion %></td>
                          <td><%= propietario.cp %></td>
                          <td>
                              <a href="/propietarios/<%= propietario.id_propietario %>" rel="noopener" class="btn btn-sm btn-info hidden-print">Ver</a>
                          </td>
                      </tr>
                  <% }) %>
              </tbody>
              <% } else { %>
                <tr>
                  <td colspan="10">
                    <p class="text-center">No hay propietarios asignados a esta vivienda.</p>
                  </td>
                </tr>
              <% } %>
              <tfoot>
                <tr>
                  <td colspan="10">
                    <a href="/vivienda/<%= vivienda.id_vivienda %>/propietarios" rel="noopener" class="btn btn-sm btn-primary hidden-print">Asignar propietario</a>
                  </td>
                </tr>
              </tfoot>
          </table>
  </div>
</div>
