<div class="container">
    <div class="table-wrapper">
        <h4 class="bg-grey">Comunidades:</h4>
          <table class="table table-hovered">
              <thead class="thead-dark">
                  <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Dirección</th>
                      <th scope="col">CP</th>
                      <th scope="col">Población</th>
                      <th scope="col">Provincia</th>
                      <th scope="col">
                        <a href="/comunidades/0" class="btn btn-sm btn-success">Añadir</a>
                      </th>
                  </tr>
              </thead>
              <% if (comunidades.length > 0) {%>
                <tbody>
                    <% Array.prototype.forEach.call(comunidades, comunidad => { %>
                        <tr>
                            <th scope="row"><%= comunidad.id_comunidad %></th>
                            <td><%= comunidad.nombre_comunidad %></td>
                            <td><%= comunidad.direccion %></td>
                            <td><%= comunidad.cp %></td>
                            <td><%= comunidad.poblacion %></td>
                            <td><%= comunidad.provincia %></td>
                            <td>
                                <a href="/comunidades/<%= comunidad.id_comunidad %>" rel="noopener" class="btn btn-sm btn-info">Ver</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
              <% } else { %>
                <tr>
                  <td colspan="10">
                    <p class="text-center">No hay Comunidades en a base de datos.</p>
                  </td>
                </tr>
              <% } %>
        </table>
    </div>
</div>
