<% include partials/header.ejs %>
<div class="container">
      <p class="text-center text-danger">Editando vivienda</p>
      <% if (vivienda.id_vivienda){ %>
        <form class="add-player-form" action="/viviendas/<%= vivienda.id_vivienda %>" method="post" enctype="application/json">
      <% } else { %>
        <form class="add-player-form" action="/comunidades/<%= comunidad_fk %>/viviendas" method="post" enctype="application/json">
      <% } %>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="id_vivienda">ID</label>
                    <input type="text" class="form-control" name="id_vivienda" id="id_vivienda" value="<%= vivienda.id_vivienda %>" required readonly title="ID cannot be edited.">
                </div>
                <div class="form-group col-md-3">
                    <label for="numero">Número</label>
                    <input type="text" class="form-control" name="numero" id="numero" value="<%= vivienda.numero %>" required>
                </div>
                <div class="form-group col-md-3">
                    <label for="coeficiente">Coeficiente</label>
                    <input type="text" class="form-control" name="coeficiente" id="coeficiente" value="<%= vivienda.coeficiente %>" required>
                </div>
                <div class="form-group col-md-3">
                    <label for="comunidad_fk">Comunidad</label>
                    <input type="text" class="form-control" name="comunidad_fk" id="comunidad_fk" value="<%= comunidad_fk %>" required readonly title="ID cannot be edited.">
                </div>
            </div>
            <div align="center" class="form-row">
              <!-- <a href="/" rel="noopener" class="btn btn-sm btn-success">Guardar</a> -->
              <button formmethod="post" type="submit" class="btn btn-success float-right hidden-print">Guardar</button>
              <a href="/comunidades/<%= vivienda.comunidad_fk %>" class="btn btn-sm btn-info hidden-print">Vovler</a>
              <a href="/viviendaDel/delete/<%= vivienda.id_vivienda %>" data-method="delete" class="btn btn-sm btn-danger hidden-print">Eliminar</a>
            </div>
        </form>
          <% if (vivienda.id_vivienda){ %>
            <%  include tables/tablaPropietarios.ejs %>
            <%  include tables/tablaCuotas.ejs %>
          <% } %>
</div>
<% include partials/footer.ejs %>
