<% include partials/header.ejs %>
<div class="container">
        <p class="text-center text-danger">Editando Factura</p>
    <% if (factura){ %>
      <% if (!factura.id_factura){ %>
        <% var date = (new Date()).toISOString().slice(0,10) %>
        <form class="add-player-form" action="/facturas" method="post" enctype="application/json">
      <% } else { %>
        <% var date = factura.fecha %>
        <form class="add-player-form" action="/comunidades/<%= factura.comunidad_fk %>/facturas/<%= factura.id_factura %>" method="post" enctype="application/json">
      <% } %>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="id_factura">ID</label>
                    <input type="text" class="form-control" name="id_factura" id="id_factura" value="<%= factura.id_factura %>" required readonly title="ID cannot be edited.">
                </div>
                <div class="form-group col-md-4">
                    <label for="emisor">Emisor</label>
                    <input type="text" class="form-control" name="emisor" id="emisor" value="<%= factura.emisor %>" required>
                </div>
                <div class="form-group col-md-3">
                    <label for="importe">Importe</label>
                    <input type="text" class="form-control" name="importe" id="importe" value="<%= factura.importe %>" required>
                </div>
                <div class="form-group col-md-3">
                    <label for="fecha">Fecha</label>
                    <input type="date" class="form-control" name="fecha" id="fecha" value="<%= date %>" required>
                </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                  <label for="concepto">Concepto</label>
                  <input type="text" class="form-control" name="concepto" id="concepto" value="<%= factura.concepto %>" required>
              </div>
              <div class="form-group col-md-6">
                  <label for="archivo">Archivo adjunto</label>
                  <input type="file" class="form-control" name="archivo" id="archivo" value="<%= factura.archivo %>">
              </div>
              <!-- @TODO cambiar a combobox -->
              <div class="form-group col-md-2">
                  <label for="comunidad_fk">ID Comunidad</label>
                  <input type="text" class="form-control" name="comunidad_fk" id="comunidad_fk" value="<%= factura.comunidad_fk %>" readonly required>
              </div>
              <div class="form-group col-md-4">
                  <label for="nombre_comunidad">Comunidad</label>
                  <input type="text" class="form-control" name="nombre_comunidad" id="nombre_comunidad" value="<%= factura.nombre_comunidad %>" readonly required>
              </div>

              <div class="form-group col-md-6">
                  <label for="file">File</label>
                  <input type="text" class="form-control" name="file" id="file" value="<%= factura.archivo %>">
              </div>
            </div>
            <div align="center" class="form-row">
              <button formmethod="post" type="submit" class="btn btn-success float-right">Guardar</button>
              <a href="/comunidades/<%= factura.comunidad_fk %>" class="btn btn-sm btn-info">Vovler</a>
              <% if ( factura.id_factura > 0 ) { %>
                <a href="/facturas/delete/<%= factura.id_factura %>" data-method="delete" class="btn btn-sm btn-danger">Eliminar</a>
              <% } %>
            </div>
        </form>
    <% } else { %>
        <p class="text-center">Not Found. Go <a href="/add">here</a> to add facturas.</p>
    <% } %>
</div>
<% include partials/footer.ejs %>
