<% include partials/header.ejs %>
<div class="container">
    <div class="table-wrapper">
        <% if (viviendas.length > 0) {%>
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Número</th>
                        <th scope="col">Id Comunidad</th>
                        <th scope="col">
                          <!-- <a href="/viviendas/0" class="btn btn-sm btn-primary">Añadir</a> -->
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% Array.prototype.forEach.call(viviendas, vivienda => { %>
                        <tr>
                            <th scope="row"><%= vivienda.id_vivienda %></th>
                            <td><%= vivienda.numero %></td>
                            <td><%= vivienda.comunidad_fk %></td>
                            <td>
                                <a href="/viviendas/<%= vivienda.id_vivienda %>" rel="noopener" class="btn btn-sm btn-success">Edit</a>
                                <a href="/viviendas/delete/<%= vivienda.id_vivienda %>" data-method="delete" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p class="text-center">No viviendas found. Go <a href="/add" >here</a> to add viviendas.</p>
        <% } %>
    </div>
</div>
<% include partials/footer.ejs %>
